<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @article.title %>
</p>

<p>
  <b>Owner:</b>
  <%= @article.user.email %>
</p>

<p>
  <b>Content:</b>
  <%= @article.content %>
</p>

<% if can? :edit, @article %>
  <%= link_to 'Edit', edit_article_path(@article) %> |
<% end %>
<%= link_to 'Back', articles_path %>
